<div class="element-bg-img">
  <img src="{{ selectedCity?.images[0] }}" alt="" class="img-responsive">
</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a (click)="filterToContinent($event)">America</a></li>
      <li><a (click)="filterToContinent($event)">Evrope</a></li>
      <li class="anc-bor"><a (click)="filterToContinent($event)">Asia</a></li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" >
        <div class="activity-row"
             (sendActiveCity)="setActiveCity($event)"
             *ngFor="let city of listOfCities | continent:filtredTo"
             [city]="city">

        </div>
      </div>
    </div>
  </div>
</div>


